/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Upload Box */
.upload-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

.upload-container h2 {
    margin-bottom: 15px;
}

/* File Input */
input[type="file"] {
    margin: 10px 0;
}

/* Button Styling */
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 14px;
    border-radius: 5px;
    transition: 0.3s ease;
    background-color: #535c62;
}

.aws {
    background-color: #ff9900;
}

.azure {
    background-color: #0078D4;
}

.gcp {
    background-color: #4285F4;
}

button:hover {
    opacity: 0.8;
}

/* Upload Status */
#status {
    margin-top: 15px;
    font-weight: bold;
}
